@page
@model WebVirus.Views.IndexForUser.Almacenist.AlmacenistIndex
@{
    ViewData["Title"] = "AlmacenistIndex";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Entraste el menu del almacenista</h1>
</div>