@{
    Layout = "~/Views/Shared/_layoutBackLogin.cshtml";
    ViewData["Title"] = "AlmacenistIndex";
}


@* 
    Cambiar el layout para que el usuario pueda cambiar su contraseña desde aqui
    También hacer que en ese boton del perfil del usuario que... ptm 
    depende del usuario, la interfaz del perfil actual??????
    nmms, es pasar todo el objeto del usuario activo y depende del tipo
    cambiar la info de los campos, para que el usuario los pueda cambiar
    como en progra movil
    encontrar los datos del objeto que estamos moviendo, pasando todos sus datos en todo momento
    
 *@
<div>
    <h1>Entraste el menu del almacenista</h1>
</div>